.table2-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.table2-container h2 {
  padding-bottom: 10px;
}

.table2 {
  caption-side: bottom;
  border-collapse: collapse;
}

.table2 caption {
  padding-top: 10px;
}

.table2 thead tr th:first-child {
  visibility: hidden;
}

.table2 thead th,
.table2 tbody td {
  padding: 20px 40px;
}

.table2 thead th:not(:first-child),
.table2 tbody th,
.table2 tbody td {
  border: 1px solid black;
  background-color: aqua;
}

.table2 thead th:not(:first-child) {
  background-color: cadetblue;
}

.table2 tbody tr:nth-child(even) th,
.table2 tbody tr:nth-child(even) td {
  background-color: aquamarine;
}

.table2 tbody th {
  padding-right: 150px;
  padding-left: 5px;
  text-align: left;
}
